body {
  overflow-x: hidden;
}

.navbar {
  height: 60px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding-left: 20px !important;
  &-toggler-icon {
    cursor: pointer;
  }
}

#sidebar-wrapper {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  .list-group {
    width: 15rem;
  }
  .list-group-item {
    height: 5em;
  }
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.router-link-exact-active,
.router-link-active {
  background-color: rgba($black, 0.5) !important;
}
